@font-face {
  font-family: grandam;
  src: url(https://storage.googleapis.com/studio-front/fonts/grandam.ttf) format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(https://storage.googleapis.com/production-os-assets/assets/material-icons/1629704621943/MaterialIcons-Regular.eot);
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(https://storage.googleapis.com/production-os-assets/assets/material-icons/1629704621943/MaterialIcons-Regular.woff2) format("woff2"), url(https://storage.googleapis.com/production-os-assets/assets/material-icons/1629704621943/MaterialIcons-Regular.woff) format("woff"), url(https://storage.googleapis.com/production-os-assets/assets/material-icons/1629704621943/MaterialIcons-Regular.ttf) format("truetype");
}
.main {
  height: auto;
  min-height: 100vh;
  display: flex;
}

.main > .sd {
  overflow: hidden;
  min-height: 100vh;
}

a,
abbr,
address,
article,
aside,
audio,
b,
blockquote,
body,
button,
canvas,
caption,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
input,
ins,
kbd,
label,
legend,
li,
main,
mark,
menu,
nav,
object,
ol,
p,
pre,
q,
samp,
section,
select,
small,
span,
strong,
sub,
summary,
sup,
table,
tbody,
td,
textarea,
tfoot,
th,
thead,
time,
tr,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  font-family: sans-serif;
  line-height: 1;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  transition: 0.3s cubic-bezier(0.4, 0.4, 0, 1);
  color: #333;
  word-spacing: 1px;
}

a:focus:not(:focus-visible),
button:focus:not(:focus-visible),
summary:focus:not(:focus-visible) {
  outline: none;
  box-shadow: none;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

ins {
  text-decoration: none;
}

ins,
mark {
  background-color: #ff9;
  color: #000;
}

mark {
  font-style: italic;
  font-weight: 700;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

textarea {
  resize: none;
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

[slot=after] button {
  overflow-anchor: none;
}

.sd {
  max-width: 100%;
  z-index: 0;
  pointer-events: all;
  flex-wrap: nowrap;
  -webkit-overflow-scrolling: touch;
  display: flex;
  position: relative;
  flex-direction: column;
  align-content: center;
  align-items: center;
  flex: none;
}

.sd::-webkit-scrollbar {
  display: none;
}

input[type=email],
input[type=tel],
input[type=text],
select,
textarea {
  -webkit-appearance: none;
}

select {
  cursor: pointer;
}

.frame {
  overflow: hidden;
  display: block;
}

.frame > iframe {
  height: 100%;
  width: 100%;
}

.frame .formrun-embed > iframe:not(:first-child) {
  display: none !important;
}

.image {
  position: relative;
}

.image:before {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: inherit;
  z-index: -2;
  pointer-events: none;
  background-size: cover;
  background-position: 50%;
  transition: inherit;
}

.sd.file {
  flex-direction: row;
  word-break: break-word;
  word-wrap: anywhere;
  cursor: pointer;
}

.file > input[type=file] {
  opacity: 0;
  position: absolute;
  pointer-events: none;
}

.sd.icon,
.sd.text {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  overflow: visible;
  word-break: break-word;
  word-wrap: anywhere;
}

.material-icons {
  font-family: "Material Icons";
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

a,
a.icon,
a.text {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.15);
}

.fixed {
  z-index: 2;
}

.button {
  transition: 0.4s cubic-bezier(0.4, 0.4, 0, 1);
}

.button,
.link {
  cursor: pointer;
}

.sd.cover-image:before {
  background-image: url("https://images.unsplash.com/photo-1531482615713-2afd69097998?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjYzNDZ9");
}

.sd.desc-image:before {
  background-image: url("https://images.unsplash.com/photo-1476124861542-44354851e622?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjYzNDZ9");
}

.sd.main-wrap {
  align-content: flex-start;
  align-items: flex-start;
  background: #FFFFFF;
  border-radius: 0;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: flex-start;
  margin: 0;
  opacity: 1;
  padding: 0px 0px 0px 0px;
  width: 100%;
  max-width: 100%;
}

@media screen and (max-width: 768px) {
  .sd.main-wrap {
    background: #FFFFFF;
  }
}
@media screen and (max-width: 480px) {
  .sd.main-wrap {
    background: #FFFFFF;
  }
}
.sd.header-wrap {
  align-content: flex-start;
  align-items: flex-start;
  background: #00b58d;
  border-radius: 0;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.1);
  height: auto;
  overflow-y: auto;
  padding: 0;
  width: 100%;
  max-width: 100%;
}

.sd.header-top-space {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 0;
  height: 20px;
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
}

.sd.header-nav {
  background: rgba(0, 0, 0, 0);
  border-radius: 0;
  flex-direction: row;
  height: 56px;
  justify-content: space-between;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 0px 16px 0px 16px;
  width: 100%;
  max-width: 100%;
}

.sd.header-menu {
  background: rgba(0, 0, 0, 0);
  border-radius: 0;
  color: #FFF;
  display: none;
  font-size: 24px;
  margin: 0px 16px 0px 0px;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .sd.header-menu {
    display: flex;
  }
}
.sd.header-tab {
  background: rgba(0, 0, 0, 0);
  border-radius: 0;
  flex: none;
  flex-direction: row;
  height: 100%;
  justify-content: space-around;
  margin: 0;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 0px 16px 0px;
  width: 820px;
  max-width: 100%;
}

@media screen and (max-width: 768px) {
  .sd.header-tab {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .sd.header-tab {
    display: none;
  }
}
.sd.brand-link {
  border-radius: 0;
  color: #FFF;
  font-family: Roboto;
  font-size: 20px;
  letter-spacing: 0.05em;
  line-height: 1.4;
  text-align: center;
  justify-content: center;
}

.sd.item-link {
  color: #FFFFFF;
  font-family: Lato;
  font-size: 20px;
  font-weight: 400;
  height: auto;
  text-align: center;
  width: auto;
  max-width: 100%;
  justify-content: center;
}

.sd.item-icon {
  color: #FFFFFF;
  font-size: 24px;
}

@media screen and (max-width: 768px) {
  .sd.item-icon {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .sd.item-icon {
    display: none;
  }
}
.sd.tab-first {
  align-content: flex-start;
  align-items: flex-start;
  background: rgba(0, 0, 0, 0);
  border-radius: 0;
  flex-direction: row;
  height: 48px;
  margin: 0;
  overflow-x: auto;
  padding: 0;
  width: 100%;
  max-width: 100%;
}

.sd.tab-link {
  background: rgba(0, 0, 0, 0);
  border-radius: 0;
  flex: 50;
  height: 100%;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
}

.sd.tab-text {
  border-radius: 0;
  color: #FFF;
  font-family: Roboto;
  font-size: 14px;
  letter-spacing: 0em;
  line-height: 1.4;
  margin: 0;
  padding: 0;
  text-align: center;
  justify-content: center;
}

.sd.cover-image {
  align-content: center;
  align-items: center;
  background: #FFFFFF;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 360px;
  justify-content: center;
  width: 100%;
  max-width: 100%;
}

.sd.cover-image:before {
  filter: brightness(0.4);
}

.sd.desc-text {
  color: #FFFFFF;
  flex: none;
  font-family: "Noto Sans JP";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  height: 36px;
  text-align: center;
  width: auto;
  max-width: 100%;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .sd.desc-text {
    flex: none;
    width: 90%;
    max-width: 90%;
  }
}
@media screen and (max-width: 480px) {
  .sd.desc-text {
    line-height: 1.5;
    padding: 0px 0px 0px 0px;
    height: 100px;
    width: 310px;
    max-width: 100%;
  }
}
.sd.cover-wrap {
  align-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 0px;
}

@media screen and (max-width: 480px) {
  .sd.cover-wrap {
    padding: 0px 5px;
    height: 114px;
  }
}
.sd.logo-left {
  align-content: center;
  align-items: center;
  flex: none;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  height: auto;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .sd.logo-left {
    align-content: center;
    align-items: center;
    flex: none;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    height: 30%;
    justify-content: flex-end;
  }
}
@media screen and (max-width: 480px) {
  .sd.logo-left {
    align-content: center;
    align-items: center;
    flex: none;
    flex-direction: row;
    flex-wrap: nowrap;
    height: auto;
    justify-content: center;
    padding: 0px;
    width: 240px;
    max-width: 100%;
  }
}
.sd.cover-wrap-image {
  align-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 203px;
  justify-content: center;
  padding: 0px;
}

@media screen and (max-width: 768px) {
  .sd.cover-wrap-image {
    align-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
  }
}
@media screen and (max-width: 480px) {
  .sd.cover-wrap-image {
    align-content: center;
    align-items: center;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 109px;
    justify-content: flex-end;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 240px;
    max-width: 100%;
  }
}
.sd.logotype {
  flex: none;
  height: 129px;
  width: auto;
  max-width: 100%;
}

@media screen and (max-width: 768px) {
  .sd.logotype {
    flex: none;
    height: auto;
    width: 320px;
    max-width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .sd.logotype {
    flex: none;
    height: auto;
    width: 230px;
    max-width: 100%;
  }
}
.sd.logodesc {
  color: #FFFFFF;
  flex: none;
  font-family: "Noto Sans JP";
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  height: 44px;
  margin: 0;
  position: relative;
  text-align: right;
  width: auto;
  max-width: 100%;
  justify-content: flex-end;
}

@media screen and (max-width: 480px) {
  .sd.logodesc {
    font-size: 36px;
    height: 40px;
    max-width: 100%;
  }
}
.sd.logomark {
  flex: none;
  height: auto;
  margin: 0;
  width: 157px;
  max-width: 100%;
}

@media screen and (max-width: 768px) {
  .sd.logomark {
    flex: none;
    height: 180px;
    width: auto;
    max-width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .sd.logomark {
    flex: none;
    height: 110px;
    width: auto;
    max-width: 100%;
  }
}
.sd.about-text {
  align-content: flex-start;
  align-items: flex-start;
  background: #FFFFFF;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 51px;
  justify-content: center;
  width: 100%;
  max-width: 100%;
}

.sd.about-text-body {
  color: #333;
  font-family: Lato;
  font-size: 20px;
  font-weight: 400;
  height: auto;
  letter-spacing: 0em;
  margin: 0px 0px 0px 20px;
  text-align: center;
  width: auto;
  max-width: calc(100% - 20px);
  justify-content: center;
}

.sd.desc-image {
  align-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 283px;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 0px 0px 0px 0px;
  width: 100%;
  max-width: 100%;
}

.sd.desc-image:before {
  filter: brightness(0.6);
}

@media screen and (max-width: 768px) {
  .sd.desc-image {
    flex: none;
    height: 400px;
    width: 100%;
    max-width: 100%;
  }
}
.sd.desc-text-body {
  color: #FFFFFF;
  flex: none;
  font-family: Lato;
  font-size: 24px;
  font-weight: 400;
  height: 198px;
  line-height: 1.5;
  text-align: left;
  width: 95%;
  max-width: 95%;
  justify-content: flex-start;
}

body {
  background: #FFFFFF;
  transition: background 0.5s cubic-bezier(0.4, 0.4, 0, 1);
}
